[user]
	name = Ryan Cavanaugh
	email = RyanCavanaugh@users.noreply.github.com
[credential]
[push]
	default = current
[gui]
	gcwarning = false
[core]
	editor = 'c:/program files/sublime text 3/subl.exe' -w
	excludesfile = C:\\Users\\ryanca\\Dropbox\\.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[credential]
	helper = wincred
