<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- Everyday stuff -->
    <package id="skype" />
    <package id="thunderbird" />
    <package id="google-chrome-x64" />

    <!-- Media -->
    <package id="audacity" />
    <package id="vlc" />
    
    <!-- Games -->
    <package id="steam" />
    
    <!-- Utilities -->
    <package id="7zip" />
    <package id="putty" />
    <package id="keypass" />
    
    <!-- 3D printing -->
    <package id="openscad" />
    <!-- TODO: Repetier-Host -->
    
    <!-- Photos -->
    <!-- TODO: Lightroom -->

    <!-- Text Editors -->
    <package id="visualstudiocode" />
    <package id="sourcecodepro" />
    <package id="sublimetext3" />
    <package id="visualstudio2015community" />

    <!-- Dev tools -->
    <package id="git.install" />
    <package id="nodejs.install" />
  </packages>
</xml>
